<h1>Comptes#index</h1>
<p>Find me in app/views/comptes/index.html.erb</p>
<%= content_tag :div, "", id: "annual_chart" %>

<div id="container" style="width:100%; height:400px;">
  </div>

  <div id="container2" style="width:100%; height:400px;">
  </div>