footer {
  margin-top:20px;
  background-color:#efefef;
  padding-top:        20px;
  .padded-down{
    padding-bottom: 10px;
  }
}

#form_for_comptes{
  padding-top: 20px;
}
#container, #container2, #container3{
  width: 80%;
  height: 500px;
}